<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<header>
    <h1>Edit product</h1>
</header>
<section id="product">
    <form action="products.html"
          id="editProductForm"
          th:action="@{${#httpServletRequest.servletPath}}"
          th:method="@{post}"
          th:object="${product}">
        <input th:name="productId" th:type="text" th:value="${productId}"  size="50" type="text" hidden>
        <p><label>Product name</label></p>
        <input th:field="*{productName}" size="50" type="text">
        <br>
        <p><label>Price</label></p>
        <input th:field="*{productPrice}" size="50" type="text">
        <br>
        <br>
        <a href="products.html">Cancel</a>
        <a href="products.html" th:href="@{/products}"
           th:onclick="@{document.forms['editProductForm'].submit(); return false;}">Save</a>
    </form>
</section>
<footer>

</footer>
</body>
</html>